body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color:white;
}

.form-section {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    background-color: #f8f9fa;
}

h2 {
    color:white;
}

input[type=text], input[type=date], select {
    width: calc(100% - 22px);
    padding: 12px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s ease-in-out;
}

input[type=text]:focus, input[type=date]:focus, select:focus {
    border-color: #80bdff;
    outline: none;
}

button-container {
    text-align: center;
}

button {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
    background-color: #0056b3; /* Darker blue */
    transform: translateY(-2px);
}

ul {
    list-style-type: none;
    padding-left: 0; /* Remove default padding */
}

ul li {
    background-color: #f1f3f5; /* Light gray */
    margin-top: 10px; /* Space between items */
    padding: 10px; /* Padding inside each item */
    border-radius: 5px; /* Rounded corners */
}

#statusOutput {
    margin-top: 10px; /* Space above status output */
}
h3
{
    margin-top: 40px;
    text-align: center;
    color:black;
    font-size: 1.4em;
    padding: 10px;
    border-radius: 5px;
}